body{
    font-family:"Montserrat", sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 7% 15%;
}

 /* Headings */

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
 }

.big-heading{
    font-family:"Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: 900;  
    line-height: 1.5;
}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

#testimonials.colored-section, #press.colored-section{
    background-color: #ef8172;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

 /* Title */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

.title-img{
    width: 20%;
    right: 23%;
    transform: rotate(25deg);
    position: absolute;
}

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

@media (max-width: 1028px) {
    .title-img{
        width: 60%;
        position: static;
        transform: none;
    }

    #title{
        text-align: center;
    }
}

.download-button{
    margin: 5% 3% 5% 0;
}

/* features */

.features-col{
    padding: 7%;
}

.features-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.features-image{
    padding-bottom: 1rem;
    color: #ef8172
}

.features-image:hover{
    color: #ff4c68;
}

#features{
    position: relative;
}


/* Testimonials */

.testimonial-text{
    font-size: 3.2rem;
    line-height: 1.5;
}


.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

.press-logo{
    width: 13%;
    margin: 30px 20px 40px;
}

#press{
    padding: 0 0 7% 0;
}




/* Pricing */

.pricing-col{
    padding: 3% 2%;
}

.price-text{
    font-size: 3.2rem;
    line-height: 1.5;
}

#pricing{
    padding: 125px;
}


/* Footer */
.footer-icon{
    padding: 2% 1%;
}
